@page
@model eSportTournament.Pages.Equipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Equipe @Html.DisplayFor(model => model.Equipe.nomEquipe)</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Joueurs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.joueursEquipe)
            {
                string nomPrenom = item.nom + " " + item.prenom;
                <tr>
                    <td>@nomPrenom</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.showDelete)
{<a asp-page="./Delete" asp-route-id="@Model.Equipe.ID"> | Supprimer</a>}
<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>
