@page
@model eSportTournament.Pages.Jeux.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des jeux</h1>

<p>
    <a asp-page="Create">Ajouter un jeu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jeu[0].nomJeu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jeu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomJeu)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
