@page
@model eSportTournament.Pages.DemandeLicenceModel

@{
    ViewData["Title"] = "DemandeLicence";
}

<h1>DemandeLicence</h1>

<h4>DemandeLicence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Utilisateur.nom" class="control-label"></label>
                <input name="nom" id="nom" class="form-control" />
               <!--  <span asp-validation-for="Utilisateur.nom" class="text-danger"></span> -->
            </div>
            <div class="form-group">
                <label asp-for="Utilisateur.prenom" class="control-label"></label>
                <input name="prenom" id="prenom" class="form-control" />
               <!--  <span asp-validation-for="Utilisateur.prenom" class="text-danger"></span>-->
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
