@page
@model eSportTournament.Pages.DemandeOrganisateurModel

@{
    ViewData["Title"] = "DemandeLicence";
}


<h4>Devenir Organisateur de compétitions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger"></div>
            <p>Faire une demande</p>
            <div class="form-group">
                <input type="submit" value="Envoyer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
